/terraform/.terraform
/terraform/README.md
../.DS_Store
.DS_Store
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
**/testfile.csv
*.tfvars
.trunk
.env
node_modules
.vscode
amplify
src